body {
  max-width: 380px;
  margin: auto;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  border-top: #000 solid 12px;
  background: url(../img/bg-header.png);
  padding: 30px;
}
.box-title {
  background-color: #060e17e0;
  padding: 10px 50px;
  margin-bottom: 30px;
  text-align: center;
}

.slogan {
  color: #E3F4FF;
  font-size: 20px;
}

.section-light {
  background-color: #E3F4FF;
  text-align: center;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
}

.section-dark {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}

p {
  font-size: 16px;
}

.oiseau {
  max-width: 105px;
}

.dollar {
  max-width: 95px;
}

.disquette {
  max-width: 40px;
  align-self: center;
  margin-top: 20px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  background-color: #000;
  color: #E3F4FF;
  border-radius: 15px;
  padding: 15px 25px;
  margin: 5px;
}

.cta-light {
  background-color: #E3F4FF;
  color: #000;
}

.produits-box {
  background-color: #E3F4FF;
  border-radius: 15px;
  padding: 25px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.nos-produits {
  color: #E3F4FF;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 23px;
}

footer {
  background-color: #000;
  color: #777777;
  text-align: center;
  padding: 15px 50px;
  font-size: 12px;
}

a {
  font-size: 18px;
  color: black;
}

footer a {
  text-decoration: none;
  color: #E3F4FF;
}